:root   {
    --dark-bg: #242424;
    --dark-text: #dbdbdb;
}
.total-score {
    text-align: center;
}

.tableFixHead          {
    overflow-y: auto;
    height: auto;
}
.tableFixHead thead th {
    position: sticky;
    top: 0;
    background-color: white;
}

.total-score {
    overflow-y: auto;
    height: 100px;
}
.total-score td {
    position: sticky;
    bottom: 0;
    background-color: white;
}

.total-score th {
    position: sticky;
    bottom: 0;
    background-color: white;
}

.dark,
.dark * {
    background-color:var(--dark-bg);
    color: var(--dark-text);
    border-color: var(--dark-text);
}

.dark .tableFixHead thead th {
    background-color: var(--dark-bg);
}
.dark .total-score {
    background-color: var(--dark-bg); 
}
.dark .total-score th {
    background-color: var(--dark-bg);
}
