:root   {
    --dark-bg: #242424;
    --dark-text: #dbdbdb;
}

.slow .toggle-group {
    transition: left 0.7s;
    -webkit-transition: left 0.7s;
}

#title {

    padding-top: 1%;
    color: #fcad00;
    text-align: center;
}

table * {
    text-align: center;
}

#btn-row {
    padding-right: 2%;
    padding-left: 2%;
}

#clear-scores-btn {
    margin-right: 5px;
}

.tableFixHead          {
    overflow-y: auto;
    height: auto;
}
.tableFixHead thead th {
    position: sticky;
    top: 0;
    background-color: white;
}

.total-score {
    overflow-y: auto;
    height: 100px;
}

.total-score td {
    position: sticky;
    bottom: 0;
    background-color: white;
}

.total-score th {
    position: sticky;
    bottom: 0;
    background-color: white;
}

/* Dark mode settings */
.dark,
.dark * {
    background-color:var(--dark-bg);
    color: var(--dark-text);
    border-color: var(--dark-text);
}

.dark .tableFixHead thead th {
    background-color: var(--dark-bg);
}
.dark .total-score {
    background-color: var(--dark-bg); 
}
.dark .total-score th {
    background-color: var(--dark-bg);
}

.dark #title {
    color: #c48f1b;
}
